<div class="sidebar">
    <NavLink href="/user" Match="NavLinkMatch.All" ActiveClass="active">
        <i class="fas fa-user-edit"></i>
    </NavLink>
    <NavLink href="/report" Match="NavLinkMatch.All" ActiveClass="active">
        <i class="fas fa-table"></i>
    </NavLink>
</div>
